@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import "./assets/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 12px;
  background-color: $main-app-color;
  color: $main-letters-color;

  h1 {
    font-size: 24px;
  }

  h2,
  h3 {
    font-size: 22px;
  }

  h4,
  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 13px;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    background-color: none;
  }

  input,
  select {
    outline: none;
    border: none;
  }

  .container {
    margin: 0 5%;
  }

  .disabled {
    opacity: 0.6;
    cursor: not-allowed !important;
    cursor: -moz-not-allowed;
    cursor: -webkit-not-allowed;
  }

  .my-form-field {
    margin: 1rem 0;
  }

  .alert {
    color: crimson;
    font-size: 11px;
    font-weight: bold;
    background-color: azure;
    border-radius: 6px;
    padding-left: 0.5rem;
  }
}

@media only screen and (min-width: 1140px) {
  .container {
    margin: 0 15% !important;
  }
}
