<div class="registration-wrapper bubble">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <h2>Registration</h2>
    <div appShowError class="my-form-field">
      <input
        id="firstName"
        type="text"
        required
        pattern="[A-Z].{0,}"
        placeholder="First Name"
        formControlName="firstName"
      />
    </div>
    <div appShowError class="my-form-field">
      <input
        id="lastName"
        type="text"
        required
        pattern="[A-Z].{0,}"
        placeholder="Last name"
        formControlName="lastName"
      />
    </div>
    <div appShowError class="my-form-field">
      <input
        id="email"
        type="email"
        autocomplete="email"
        required
        placeholder="Email"
        formControlName="email"
      />
    </div>
    <div appShowError>
      <input
        id="password"
        type="password"
        required
        pattern="[\W\w]+"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <div appShowError class="my-form-field">
      <input
        id="confirmPassword"
        type="password"
        required
        pattern="[\W\w]+"
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
    </div>

    <button
      type="submit"
      [ngClass]="
        this.form.invalid ||
        this.form.value.password !== this.form.value.confirmPassword
          ? 'disabled'
          : ''
      "
      [disabled]="
        this.form.invalid ||
        this.form.value.password !== this.form.value.confirmPassword
      "
    >
      Register
    </button>
    <p>Or <a routerLink="/login">Login</a> if you already have account.</p>
  </form>
</div>
