@import "../../../../assets/styles/variables.scss";

:host {
  .drawer-container {
    background-color: transparent;
    min-height: 50rem;

    .side-drawer {
      background-color: transparent;
      border-right: 1px solid $main-letters-color;
      width: 22%;
    }
  }
  .side-nav-wrapper {
    height: 100%;
    background: linear-gradient(270deg, black, teal, transparent);

    .menu-list {
      .mat-list-item {
        cursor: pointer;
        height: 2.5rem;

        ::ng-deep .mat-list-item-content {
          padding: 0;
        }
      }

      a {
        height: 2.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        padding: 0 2rem;
        font-size: 1.2rem;
        color: $main-letters-color;
        letter-spacing: 1px;

        span {
          margin-right: 0.5rem;
        }

        &:hover {
          opacity: 1;
          background-color: $main-app-color;
          border-right: 5px solid $main-letters-color;
          transition: ease-in-out 0.3s;
          letter-spacing: 4px;
        }
      }
    }
  }
}

@media only screen and (min-width: 656px) and (max-width: 1024px) {
  :host {
    .side-drawer {
      width: 32% !important;
    }
  }
}

@media only screen and (max-width: 656px) {
  :host {
    .side-drawer {
      width: 100% !important;
    }
  }
}
