header,
footer {
  height: 3rem;
  background: linear-gradient(90deg, black, transparent);
}

main {
  padding: 1% 0;
  height: 100%;
  background: linear-gradient(90deg, black, transparent);
  min-height: calc(100vh - 6rem);
  overflow: auto;
}
