header,
footer {
  height: 3rem;
  background: linear-gradient(90deg, black, transparent);
}

main {
  padding: 1% 0;
  background: linear-gradient(90deg, black, transparent);
  min-height: calc(100vh - 6rem);
  overflow: auto;

  .my-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ::ng-deep .mat-progress-spinner circle,
  ::ng-deep .mat-spinner circle {
    stroke: ivory;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
