<nav>
  <div class="logo-wrapper">
    <app-button class="menu-btn" (onClick)="onToggleSidebar()">
      <span class="material-symbols-rounded"> menu </span>
    </app-button>
    <h1 class="logo">Dashboard</h1>
  </div>
  <div class="loginBtn-wrapper">
    <div [matMenuTriggerFor]="menu" class="user-avatar">
      <!-- <img [src]="user.uploadedImg" alt="" /> -->
      <span>{{ user | nameInitials }}</span>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onLogout()">
        <span class="material-symbols-rounded"> logout </span> Logout
      </button>
    </mat-menu>
  </div>
</nav>
